
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --primary: #c4a69d;
  --header: #DDA8A8;
  --background: #F6DFD7;
  --text: #3F2020;
}

* {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--header);
  height: 100px;
  border-bottom: 1px solid #3F2020;
}

.header-image {
  height: 70px;
}

.header-item {
  padding: 0px 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 550;
  color: var(--text);
}

.header-item:hover {
  border-bottom: 2px solid var(--text);
  transition: 0.3s;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--background);
  background-image: url("./source/11.jpg");
}

main {
  max-width: 80%;
  margin: auto;
}

.title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  color: var(--text);
}

/* .arrow-div {
    height: 60px;
    display: flex;
    align-items: center;
}

.arrow-image {
    height: 30px;
} */

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
}

.project-card:hover {
  transform: scale(1.1);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.project-card > img {
  height: 250px;
  width: 350px;
  object-fit: cover;
  border-radius: 10px;
  padding: 3px;
  border: 1px solid #820a4a;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   }

.project-card > h3 {
  font-size: 13px;
  color: var(--text);
}

.contact {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 2rem;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
}

.contact-item img {
  height: 4rem;
}

.contact-item:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  .contact {
    width: 100%;
  }
}

.about {
    color: var(--text);
}

span {
  color: var(--text);
}

#bird1 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 40%;
  height: 40%;
  object-fit: cover;
  pointer-events: none;
}